<?xml version="1.0"?>
<config>
	<modules>
		<SmartIT_ReplicateOptions>
			<version>1.0.0</version>
		</SmartIT_ReplicateOptions>
	</modules>
	<frontend>
		<routers>
      <ReplicateOptions>
				<use>standard</use>
				<args>
					<module>SmartIT_ReplicateOptions</module>
					<frontName>replicateoptions</frontName>
				</args>
			</ReplicateOptions>
  </routers>
	</frontend>
	<global>
    <models>
      <ReplicateOptions>
        <class>SmartIT_ReplicateOptions_Model</class>
      </ReplicateOptions>      
    </models>
		<helpers>
      <ReplicateOptions>
				<class>SmartIT_ReplicateOptions_Helper</class>
			</ReplicateOptions>
		</helpers>
		<resources>
			<ReplicateOptions_setup>
				<setup>
					<module>SmartIT_ReplicateOptions</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</ReplicateOptions_setup>
		</resources>		 
	</global>
	<default>
		<replicateoptions>
			<general>			
				<enabled>0</enabled>
			</general>
      <productsourcefilter>
        <sourcesku>00000</sourcesku>
      </productsourcefilter>
      <producttargetfilter>
        <namekeywords>Case,Wallet</namekeywords>
      </producttargetfilter>
    </replicateoptions>
	</default>
  <!--<crontab>
    <jobs>
      <SmartIT_ReplicateOptions>
        <schedule>
          <cron_expr>0 * */1 * *</cron_expr>
        </schedule>
        <run>
          <model>ReplicateOptions/observer::replicateOptions</model>
        </run>
      </SmartIT_ReplicateOptions>
    </jobs>
  </crontab>-->
</config>